aiogram==3.4.1
fastapi==0.115.0
uvicorn[standard]==0.30.6
SQLAlchemy==2.0.32
psycopg2-binary==2.9.9
python-dotenv==1.0.1
python-dateutil==2.9.0.post0
pytz==2024.1
apscheduler==3.10.4
google-api-python-client==2.141.0
google-auth==2.33.0
google-auth-oauthlib==1.2.1
